---
---

@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #ae52d4;
    background-image: linear-gradient(
120deg, #ae52d4, #0277bd, #66bb6a, #ffee58, #ffa000, #f44336);
}
